/* Adjusting styles for focused input fields */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="textarea"]:focus,
input[type="number"]:focus {
  border: 1.5px solid #0071e3 !important;
  box-shadow: none !important;
  outline: none !important;
}
